/*
h1 {
    color: white;
    font-family: Track;
    font-size: 3em;
}

h2 {
    color: white;
    font-family: Track;
    font-size: 2em;
}

.logo {
    width: 10em;
}*/

@font-face {
    font-family: Track;
    src: url(fonts/Track.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Equinox;
    src: url(fonts/EquinoxBold.ttf);
}

html {
    animation-name: page;
    -webkit-animation-name: page;
    -moz-animation-name: page;
    animation-duration: 2.0s;
    -webkit-animation-duration: 2.0s;
    -moz-animation-duration: 2.0s
}

h1 {
    color: white;
    font-family: Track;
    font-size: 3em;
}

h2 {
    color: white;
    font-family: Track;
    font-size: 1em;
}

.content {
    width: 80%;
    background-color: white;
    padding-bottom: 10%;
}

body {
    background-color: #424242;
    background-image: url(images/back.jpg);
    margin: 0;
    padding: 0;
}

.sub {
    color: black;
    font-size: 2em;
    font-family: Equinox;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.planet {
    width: 80%;
    height: auto;
}

.map{
  width: 100%;
  height: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.winner {
  width: 50%;
  height: auto;
}

.newsletter{
  background: url(images/back.jpg);
  width: 60%;
}

.changes{
  color: black;
  font-size: 3em;
  font-family: Equinox;
  padding-top: 4%;
  background: url(images/back.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}